.App {
  text-align: center;
}

.pageTitle {
  margin: 10px 0 16px 0
}

.ReactTable .rt-td,
.ReactTable .rt-th {
    align-self: center
}

.ReactTable .rt-td input,
.ReactTable .rt-th select {
    width: 100%;
    border: 0;
    font-size: 16px;
    background: transparent
}
